.categories-section{
  background-color: #f6f7f6;
}
.categories{
  padding: 100px 0px;
}

.category .d-flex{
align-items: center;
justify-content: center;
background-color:white;
padding: 15px 0px;
gap: 10px;
border-radius: 5px;
box-shadow: 5px 2px 10px rgb(204, 204, 204);
cursor: pointer;
}
.category h5{
 font-size: 18px;
 padding-top: 5px;
 font-weight: bold;
}
.category .c-icons{
  color: #FF6752;
  font-size: 26px;

}