.supporters-section{
  margin: 50px 0px;
}
.our-keys{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin:70px 0px 100px 0px;
  align-items: center;
}
.our-keys .key{
  margin: 0 auto;
  background-color: white;
  box-shadow: 3px 0px 10px rgb(216, 213, 213);
  width: 150px;
  height: 150px;
  padding: 25px;
}

.key:nth-child(1){
  padding: 13px 18px 15px 25px;
}
.key:nth-child(2){
  padding: 20px ;
}

.key:nth-child(5){
  padding:10px 25px ;
}
