.popular-courses{
margin: 150px 0px;
}
.drop button{
border: 0;
padding: 10px;
color:#FF6752 ;
background-color: #FFF7F5;
border-radius: 5px;

}
.drop b{
  margin-right: 15px; 
}
.p-card {
  border-radius: 5px;
}
.p-card img{
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.man img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.p-card h6{
  font-size: 18px;
}

.p-card .icon{
  color: #FF6752;
  font-size: 20px;
}
.ratings p, .students p, .class p{
  font-size: 16px;
  padding-top: 5px;
}

.p-count{
  border-bottom: 1px solid #cecece;
 margin: 0 15px;
}

.p-button button{
border: 0;
padding:5px 10px;
background-color: #f7dbd4;
font-size: 15px;
border-radius: 5px;
}

.p-button button:hover{
  color: #FF6752;
}
.dolar{
  padding-top: 5px;
}

.love{
  position: absolute;
  color: #FF6752;
  right: 30px;
  top: 10px;
  background: white;
  padding:6px 10px;
  border-radius: 50%;
}