.imag-box button{
  border: 0;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #274BFF;
  color: white;
  margin-bottom: 20px;
}
.imag-box img{
width: 100%;
height: 450px;
object-fit: cover;
}

.teacher img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}