 button{
  border: 0;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid;
}
.img-box button{
  margin-bottom: 20px;
  background-color: #274BFF;
}
.img-box img{
width: 100%;
height: 450px;
object-fit: cover;
}

.teacher img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.info-icons li{
  list-style: none;
  margin: 15px 10px;
  padding: 10px 0;
  border-bottom: 1px solid;
}
.info-icons span{
  color: #274BFF;
  font-size: 20px;
}
.buy-btn{
 color: #0e69f1;
 font-weight: 600;
}
.buy-btn:hover{
  background-color: #0e69f1;
  color:#ffff;
}
.add-btn{
  background-color: #FFAD33;
  font-weight: 600;
}
.add-btn:hover{
  color: #FFAD33;
  background-color: white;
}