.instructor-section{
  position: relative;

}

.ex-card{
  text-align: center;
  margin: 25px;
  border-radius: 5px;
  background-color: #FFFF;
  border: 1px solid #d8d8d8;
  position: relative;
}
.ex-card img{
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  height: 350px;
  object-fit: cover;
 object-position: top center;
 
}
.ex-card p{
  color: rgb(56, 117, 103);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.social-icon{
  position: absolute;
  top: 40px;
  right: 30px;
}
.social-icon li{
  list-style: none;
  color:#FF6752 ;
  background-color: white;
  padding:7px 10px;
  margin-top: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.social-icon li:hover{
  background-color: #FF6752;
  color: white;
}


.slick-next:before {
  background-color: #f7503a;
  position: absolute;
  margin-top: -300px;
  width: 50px;
  padding:15px 10px;
  border-radius: 50%;
  margin-left: -100px;
}
.slick-prev:before{
  background-color: #f7503a;
  position: absolute;
  margin-top: -300px;
  margin-left: 1150px;
  width: 50px;
  padding:15px 10px;
  border-radius: 50%;
}
.sliders{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.social-icon{
  display: none;
  position: absolute;
  z-index: 1;
}

.sliders:hover .social-icon{
  display: block;
}
.slick-dots {
 display: none !important;
}
.ins-title{
  margin-bottom: -40px;
}
@media only screen and (min-width: 200PX) and (max-width: 600px) {

  .slick-prev:before{
    background-color: #f7503a;
    position: absolute;
    width: 50px;
    margin-left:280px;
    padding:15px 10px;
    border-radius: 50%;

  }
  .slick-next:before {
    margin-left: -60px;
  }

 
}
