
 body{
  font-family: 'Poppins', sans-serif;
 }
a{
  text-decoration: none;
  color: white;
}
/* hover css on button */
.all-courses{
  color: #fff;
  background-image: linear-gradient(30deg, #FF6752 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  width: 200px;
  border: 0;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 50px;
}
.all-courses:hover, .global-btn:hover {
  background-position: 100%;
  background-color: #f8e7e3;
}
.all-courses:hover a, .global-btn:hover a{
  color: #f7503a;
}
 /*===================== Mobile device=============================== */
  @media only screen and (min-width: 200PX) and (max-width: 600px) {
/*========== header section======= */
 .banner-info h1{
  font-size: 36px;
  }
  .hero-img img{
    margin-left: 0px;
    width: 100%;
    margin-left: -20px;
   }
    .text-1, .text-2, .text-3,.little-women, .mid-women{
    display: none; }
  /* =======About section====== */
    .headphone img{
    margin-left: 10px;
    margin-bottom: 50px;
    width: 100%; }
    /* =====popular courses===== */
    .ep-card{ margin-left: 5px;}
    /* =======online learning section====== */
     .online{
      width:90%;
      padding-left: 0px;
    }
    .online img{
    width: 100%;
    margin: 0 20px;
   
    }
    .experience{
      position: absolute;
      top: 10%;
      left: 10px;
    }
    .secure{
      position: absolute;
      top: 45%;
      right:-25px;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
    }
/* React slick */
  .slick-prev:before{
    background-color: #f7503a;
    position: absolute;
    width: 50px;
    margin-left:280px;
    padding:15px 10px;
    border-radius: 50%;
  }
  .slick-next:before {
    margin-left: -60px;
  }

  .our-keys{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:70px 0px 100px 0px;
    align-items: center;
    gap: 30px;
  }
  .mb-title h1{
    position: absolute;
    font-size: 24px;
    }
  .fot{
    text-align: center;
  }
  footer{
    margin: 0 15px;
  }
  .fot-search{
    width: 100%;
  }
  }
 
  /* ================tablet mode=============== */
  @media only screen and (min-width: 601PX) and (max-width: 768px){
    .banner-info h1{
      font-size: 46px;
      }
      .slick-prev:before{
        
        margin-left:550px;
        padding:15px 10px;
        border-radius: 50%;
      }
      .text-1{
        left: 5%;
        top: 15%;
      }
      .experience{
        left: 20%;
      }
    .our-keys{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      margin:70px 0px 100px 0px;
      align-items: center;
      gap: 30px;
    }
    .review-card img{
      width: 100px;
      height: 100px;
      margin-left: 10px;
    }
    .fot-search button{
      margin-left: -55px;
    }
    .sliders, .review-card {
      width: 250px !important;
     
    }
  } 
