.latest-section{
  margin: 100px 0;
}
.latest-text{
  font-size: 15px;
  padding: 5px 0px;
  line-height: normal;
}
.latest-title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.blogs-title{

  padding-bottom: 30px;
}